html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: white;
}

/* MENU */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #000;
  padding: 15px;
  border-bottom: 1px solid #222;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #00ffcc;
}

/* SEÇÕES */
.secao {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 20px;
  border-bottom: 1px solid #222;
}

.container {
  max-width: 700px;
  text-align: center;
}

/* CARDS */
.card {
  background: #111;
  border: 1px solid #222;
  padding: 20px;
  margin: 15px 0;
  border-radius: 10px;
}

/* BOTÃO */
button {
  padding: 10px 20px;
  background: #00ffcc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #00ccaa;
}

/* MENSAGEM */
#msg {
  margin-top: 10px;
  color: #00ffcc;
}
